.Header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Main content layout */
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.centered-text h1 {
    font-family: 'Athelas', serif;
    font-weight: 400;
    width: 100%;
    font-size: 26px;
    line-height: 35.88px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 30%;
}

/* Profile styles */
.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    text-align: center;
}

.small-font {
    font-family: Plus Jakarta Sans;
    font-size: 11.32px;
    font-weight: 400;
    line-height: 17.77px;
    color: white;
    letter-spacing: 0.01em;
    text-align: center;
}

.large-font {
    font-family: Plus Jakarta Sans;
    font-size: 15.32px;
    color: white;
    font-weight: 700;
    line-height: 17.77px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: -10px;
}

/* Button styles */
.button-section {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 5%;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
}

.contact-button {
    display: flex;
    align-items: center;
    background-color: rgba(60, 66, 67, 1);
    border: none;
    padding: 8px 16px;
    gap: 16px;
    border-radius: 54.36px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease, bottom 0.5s ease-in-out, right 0.5s ease-in-out;
}

.contact-button.scrolled {
    bottom: -100px;
    right: -190px;
    transform: translateX(90%);
    transition: bottom 0.5s ease-in-out, right 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.contact-button:hover {
    background-color: #b29a60;
    transform: scale(1.05);
}

.icon {
    font-size: 15px;
    color: #beb3a0;
}

.line {
    width: 2px;
    height: 30px;
    background-color: white;
    margin: 0 15px;
}

/* Info section styles */
.info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.small-number {
    font-size: 14px;
    color: white;
}

.cloud-icon {
    margin: 0 5px;
    font-size: 20px;
    color: white;
}
